@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tracking-giga {
    letter-spacing: 0.25em;
  }
}

@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('./fonts/RedHatMono/RedHatMono-VariableFont_wght.ttf') format('truetype');
}

html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);

  font-family: 'Red Hat Mono', monospace;
  letter-spacing: 0.1em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

b {
  font-weight: 600;
}

span {
  @apply text-2xl;
}

button {
  user-select: none;
}

input::placeholder,
textarea::placeholder {
  @apply text-quaternary;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  appearance: none;

  background-color: var(--bg-floating);
  color: var(--text-tertiary);

  font-size: 1.5rem;

  padding: 16px 32px;
  border-radius: 32px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition-property: background-color, border-radius;
  transition-duration: 150ms;
  transition-timing-function: ease-out;

  user-select: none;

  &:hover {
    background-color: var(--bg-floating-hover);
    border-radius: 24px;
  }

  &:active {
    background-color: var(--bg-floating-active);
  }

  &.icon {
    padding: 12px;
    border-radius: 50%;

    &:hover {
      border-radius: 24px;
    }
  }
}

svg {
  shape-rendering: geometricPrecision;
}

.scroller {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;

    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--bg-floating-active);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-floating-hover); /* maybe change later */
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-tertiary);
    border-radius: 1rem;
  }
}
